* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: rgb(138, 43, 226);;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  justify-content: center;
}

.weaponContainer {
  display: flex;

}

.score, 
#announcer,
p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.gameButton {
  margin: 20px;
  padding: 5px;
  color: black;
  outline: none;
  background-color: rgb(138, 43, 226);
  background: transparent;
  border-color: rgb(138, 43, 226);;
  border-style: solid;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 18px;
}




